.btnPrimary {
  all: unset;
  background: #171a36;
  border: 1px solid #171a36;
  border-radius: 40px;
  border-radius: 500px;
  color: #ffffff;
  cursor: pointer;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  height: 40px;
  line-height: normal;
  margin-top: 40px;
  width: 200px;
}

.btnPrimary:hover {
  background: #232641;
  color: #000;
  outline: none;
}

@media (min-width: 768px) {
  .btnPrimary {
    height: 42px;
  }
}

@media (min-width: 1200px) {
  .btnPrimary {
    font-size: 24px;
    height: 50px;
  }
}

.btnSecondary {
  background: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 40px;
  color: #000000;
}

.btnSecondary:hover {  
  background: #D9D9D9;  
  outline: none;
}

.btnOutline {
  background: rgba(179, 243, 248, 0.00);
  border: 1px solid #ffffff;
  color: #ffffff;
}

.btnOutline:hover {
  background: #b3f3f8;
  color: #000;
  outline: none;
}

