/* :root {
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);

  color-scheme: light dark;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-synthesis: none;
  font-weight: 400;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
} */

/* a {
  color: #646cff;
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: hsl(237, 86%, 64%);
} */

@font-face {
  font-family: Montserrat;
  src: url("./assets/fonts/Montserrat.ttf");
}

@font-face {
  font-family: Inter;
  src: url("./assets/fonts/Inter.ttf");
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  background: #000000;  
  color: #ffffff;
  font-family: Montserrat;
  margin: 0;
  min-height: 100vh;
  min-width: 320px;
}
